.git
.venv
.direnv
.env
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
tests
htmlcov
.coverage
dist
Makefile
docker-compose.yml
.github
.pre-commit-config.yaml
flake.nix
flake.lock
.envrc
